@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities for Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6; /* Gray-100 */
}
